
<md-sidenav-container class="net-sidenav-container">
  <md-sidenav #sidenav class="net-sidenav">
    <md-nav-list>
      <md-list-item>Pesquisar</md-list-item>
      <md-list-item>Favoritos</md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div class="net-sidenav-content">
    <md-toolbar class="net-nav">
      <button type="button" md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <h1>NETFLIX list</h1>
    </md-toolbar>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>